@model HotelMVCIs.Models.Payment
@using System.Globalization

@{
    ViewData["Title"] = "Smazat platbu";
}

<h1>@ViewData["Title"]</h1>

<h3 class="text-danger">Opravdu si přejete smazat tuto platbu?</h3>
<div>
    <h4>Platba</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Rezervace</dt>
        <dd class="col-sm-9">
            #@Model.Reservation.Id - Pokoj @Model.Reservation.Room.RoomNumber (@Model.Reservation.Guest.FirstName @Model.Reservation.Guest.LastName)
        </dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Amount)</dt>
        <dd class="col-sm-9">@Model.Amount.ToString("C", new CultureInfo("cs-CZ"))</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PaymentDate)</dt>
        <dd class="col-sm-9">@Model.PaymentDate.ToShortDateString()</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PaymentMethod)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PaymentMethod)</dd> @* <--- ZOBRAZENÍ Z ENUM *@

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Notes)</dt>
        <dd class="col-sm-9">@Model.Notes</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zrušit</a>
    </form>
</div>