@model HotelMVCIs.DTOs.RoomTypeDTO

@{
    ViewData["Title"] = "Smazat typ pokoje";
}

<h1>@ViewData["Title"]</h1>

<h3>Opravdu si přejete smazat tento typ pokoje?</h3>
<div>
    <h4>Typ pokoje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

        <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Capacity)</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Capacity)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Zrušit</a>
    </form>
</div>